.button__container {
    height: fit-content;
}
.button__container button {
    border-radius: 30px;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    column-gap: 0.5rem;
    width: 100%;
    padding: 0.35rem 0.6rem;
    /* font-family: 'Exo'; */
}

.large {
    width: 12.5rem;
}