<div class="form__container">
    <form [formGroup]="addCustomer" (ngSubmit)="onSubmit()">
		<div class="form-inputs">
			<div class="form-group name">
				<div class="form-item">
                <label for="firstName"></label>
                <input 
                placeholder="Prénom"
                class="form-control"
                type="text"
                id="firstName"
                formControlName="firstName"
                />
            </div>
            <div class="form-item">
				<label for="lastName"></label>
                <input 
                placeholder="Nom"
                class="form-control"
                type="text"
                id="lastName"
                formControlName="lastName"
                />
            </div>
        </div>
        <div class="form-group contact">
			<div class="form-item">
				<label for="email"></label>
                <input 
                placeholder="Email"
                class="form-control large"
                type="email"
                id="email"
                formControlName="email"
                />
            </div>
            <div class="form-item">
				<label for="phone"></label>
                <input 
                placeholder="Téléphone"
                class="form-control large"
                type="tel"
                id="phone"
                formControlName="phone"
                />
            </div>
        </div>
        <div class="form-group date">
			<div class="form-item">
                <label for="dateOfBirth"></label>
                <input 
                class="form-control"
                type="date"
                id="dateOfBirth"
                formControlName="dateOfBirth"
                />
            </div>
            <div class="form-item">
				<label for="gender"></label>
                <select 
                    class="form-control"
                    type="gender"
                    id="phone"
                    formControlName="gender"
					
					>
					<option value="" disabled selected>Sexe</option>
					<option *ngFor="let gender of genders" [ngValue]="gender">
						{{gender}}
					</option>
				</select>
			</div>
		</div>
		</div>
        <div class="submit-form">
			<div class="button-submit__container">
				<button type="submit" [disabled]="!addCustomer.valid">
					<app-icon [icon]="plusIcon"></app-icon>
                    Ajouter un utilisateur
                </button>
            </div>
        </div>
    </form>
</div>
    
