.renting-card__container {
    display: flex;
    column-gap: 0.5rem;
    background-color: var(--color-white);
    padding: 0.20rem;
    border-radius: 20px;
    box-shadow: var(--box-shadow-bold-card);
    width: 38.5rem;
    margin-top: 1.4rem;
}