<div class="card-renting">
    <div class="renting-card__container">
      <div class="card-img">
        <img src="assets/images/fiat500.jpg" alt="">
      </div>
      <div class="renting-infos">
        <div>

        </div>
        <div class="renting-btns">
          <app-button [buttonColor]="'blue'" [buttonSize]="'small'" [buttonText]="'Voir la facture'" [icon]="invoiceIcon"></app-button>
          <app-button [buttonColor]="'light-blue'" [buttonSize]="'small'" [buttonText]="'Supprimer la location'" [icon]="deleteIcon"></app-button>
        </div>
      </div>
      
    </div>
  </div>
