<div class="customer-card__container">
    <div class="customer-card-infos">
        <div class="customer-name">
            <p>{{customer.gender === 'Femme' ? 'Mme.' : 'Mr.'}} <span>{{customer.lastName}} {{customer.firstName}}</span></p>
        </div>
        <div class="customer-info">
            <app-icon class="customer-info-icon" [icon]="phoneIcon"></app-icon>
            <p>{{customer.phone}}</p>
        </div>
        <div class="customer-info">
            <app-icon class="customer-info-icon" [icon]="emailIcon"></app-icon>
            {{customer.email}}
        </div>
        <div class="customer-info">
            <app-icon [icon]="birthdayIcon" class="customer-info-icon"></app-icon>
            <p>Né le {{customer.dateOfBirth | date:'d/M/yyyy'}}</p>
        </div>
    </div>
    <div class="customer-card-buttons">
        <app-button 
            [buttonText]="'Supprimer un locataire'" 
            [buttonColor]="'light-blue'" 
            [icon]="deleteIcon"
            [buttonSize]="'large'" >
        </app-button>
        <app-button 
            [buttonText]="'Modifier les informations'" 
            [buttonColor]="'blue'" 
            [icon]="editIcon" 
            [buttonSize]="'large'">
        </app-button>
    </div>
</div>