<div class="form__container">
    <form #editVehicule="ngForm" (ngSubmit)="updateVehicleInfos(vehicle)">
      <div class="form-inputs edit">
        <div>
          <label for="vehicleModel"></label>
          <input
            class="form-control"
            type="text"
            id="vehicleModel"
            name="vehicleModel"
            [defaultValue]="vehicle.vehicleModel"
            [(ngModel)]="vehicle.vehicleModel"
            required
            pattern="^[a-zA-Z0-9àéèçùàïüöû ]{1,25}$"
          />
        </div>
        <div>
          <input
            class="form-control"
            type="text"
            id="brand"
            name="brand"
            [defaultValue]="vehicle.brand"
            [(ngModel)]="vehicle.brand"
            required
            pattern="^[a-zA-Z0-9àéèçùàïüöû ]{1,25}$"
          />
        </div>
        <div>
          <input
            class="form-control"
            type="text"
            id="registrationNumber"
            name="registrationNumber"
            [defaultValue]="vehicle.registrationNumber"
            [(ngModel)]="vehicle.registrationNumber"
            required
          />
        </div>
        <div>
          <input
            class="form-control"
            type="number"
            id="dayPrice"
            name="dayPrice"
            pattern="^[0-9]*$"
            [defaultValue]="vehicle.dayPrice"
            [(ngModel)]="vehicle.dayPrice"
            required
          />
        </div>
        <div>
          <label for="vehicleType"></label>
            <select
              id="vehicleType"
              name="vehicleType"
              [(ngModel)]="vehicle.vehicleType"
            >
            <option value="" disabled selected >Catégorie</option>
            <option *ngFor="let vehicleType of vehicleTypes"  >
                {{ vehicleType }}
              </option>
            </select>
        </div>
        <div>
          <label for="vehicleState"></label>
            <select
              class="select-gender"
              id="vehicleState"
              name="vehicleState"
              [(ngModel)]="vehicle.vehicleState"
            >
            <option value="" disabled selected >Etat</option>
            <option *ngFor="let vehicleState of vehicleStates"  >
                {{ vehicleState }}
              </option>
            </select>
        </div>
      </div>
      <div class="submit-form-edit">
        <div class="button-submit__container">
          <button type="submit" [disabled]="!editVehicule.valid">
            <app-icon [icon]="validateIcon"></app-icon>
            Valider les modifications
          </button>
        </div>
      </div>
    </form>
  </div>
  
